<!-- {%- for link in data.main -%}

<a class="{%- if page.url contains link.url -%}b {%- else -%}link{%- endif -%}" href="/
{{page.lang}}/
{{link.url}}/">{{link[page.lang]}}</a>

{%- endfor -%} -->

<footer class="container mt6 mb4">
    <div class="ph4 tc tl-ns flex flex-column items-center flex-row-reverse-ns justify-between-ns">
        <div class="flex flex-row justify-center justify-end-ns nb4-ns">
            <a href="/about" class="button mr3 items-end">About</a>
            <a href="/about" class="button">Feedback</a>
        </div>
    
        <div class="o-60 mt5 f6 measure-narrow">
            <p>This website uses <a href="https://www.goatcounter.com/help/privacy" target="_blank">privacy-friendly analytics</a> to collect anonymous data, like number of visitors,  without cookies.</p>
        </div>
    </div>
</footer>