<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}{% if page.title %} | {{page.title}}{%else%}{% endif %}
</title>

<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" name="description">
<meta content="{{ site.title }}{% if page.title %} | {{page.title}}{%else%}{% endif %}" property="og:title">
<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="og:description">
<meta content="{{ site.title }}{% if page.title %} | {{page.title}}{%else%}{% endif %}" property="twitter:title">
<meta content="{% if page.description %}{{page.description}}{%else%}{{site.description}}{% endif %}" property="twitter:description">
<meta property="og:type" content="website">

<!-- Meta images -->
<meta property="og:image" content="{{site.url}}/og.jpg">
<meta content="summary_large_image" name="twitter:card">
<meta property="twitter:image" content="{{site.url}}/og.jpg">
<link href="/assets/lgbt-gradient.png" rel="shortcut icon" type="image/x-icon">
<link href="/assets/lgbt-gradient.png" rel="apple-touch-icon">
<!-- Append ?v=2 when making a change so that browsers refresh -->

<link rel="stylesheet" href="/assets/css/tachyons.css">
<link rel="stylesheet" href="/assets/css/style.css">

{% include analytics.html %}

<!-- <script id="help-ukraine-win" async="true" src="/ua-widget.js" data-type="one" data-position="top-right"></script> -->

<script>
    /* to prevent Firefox FOUC */
    let FF_FOUC_FIX;
</script>