<!-- {%- for link in data.main -%}

<a class="{%- if page.url contains link.url -%}b {%- else -%}link{%- endif -%}" href="/
{{page.lang}}/
{{link.url}}/">{{link[page.lang]}}</a>



{%- endfor -%} -->


<nav class="container sticky z-999">
    <div class="flex flex-row justify-between content-center items-center pv2">
        <a href="/" class="">
            <img src="/assets/lgbt-gradient.png" alt="LGBT Flag" class="grow-large w3 nl2 o-90">
        </a>
        <div class="bg-white-90 ph2 ph3-ns pv2 br4 ba b--black-20 nr2 nr0-ns">
            <a href="/" class="mh3 link dim body-text ">Myths</a>
            <a href="/FAQ" class="mh3 link dim body-text">FAQ</a>
            <a href="/about" class="mh3 link dim body-text">About</a>
        </div>
    </div>
</nav>