<!-- {%- for link in data.main -%}

<a class="{%- if page.url contains link.url -%}b {%- else -%}link{%- endif -%}" href="/
{{page.lang}}/
{{link.url}}/">{{link[page.lang]}}</a>



{%- endfor -%} -->


<nav class="">
    <a href="/" class="logo">
        <img src="/assets/lgbt-gradient.png" alt="logo" class="logo">
    </a>
    <div class="nav-items">
        <a href="/" class="{%- if page.url == '/' -%}active{%-endif-%}">Myths</a>
        <a href="/FAQ" class="{%- if page.url contains 'faq' -%}active{%-endif-%}">FAQ</a>
        <a href="/about" class="{%- if page.url contains 'about' -%}active{%-endif-%}">About</a>
    </div>
</nav>