<!-- {%- for link in data.main -%}

<a class="{%- if page.url contains link.url -%}b {%- else -%}link{%- endif -%}" href="/
{{page.lang}}/
{{link.url}}/">{{link[page.lang]}}</a>



{%- endfor -%} -->

<!-- <nav class="container-ns flex flex-row justify-between content-center items-center sticky">
    <a href="/" class="">
        <img src="/assets/lgbt-flag.svg" alt="LGBT Flag" class="grow-large">
    </a>
    <a href="/" class="">Myths</a>
    <a href="/FAQ" class="">FAQ</a>
    <a href="/about" class="">About</a>
</nav> -->

<nav class="container sticky">
    <div class="flex flex-row justify-between content-center items-center pv2">
        <a href="/" class="">
            <img src="/assets/lgbt-gradient.png" alt="LGBT Flag" class="grow-large w3 nl2 o-90">
        </a>
        <div class="bg-white-90 ph3 pv2 br4 ba b--black-20">
            <a href="/" class="mh3 link dim">Myths</a>
            <a href="/FAQ" class="mh3 link dim">FAQ</a>
            <a href="/about" class="mh3 link dim">About</a>
        </div>
    </div>
</nav>