---
---

// @import 'typography', 'article', 'code', 'print';

$media-small: 620px;
// $media-xs: 370px;

$container: 1128px;

// COLORS

// $light-bg: #f8f8f8;
$light-bg: #FAFAFA;
$dark-bg: #1e1e1e;

$light-faint: #FBF8F7;

$light-body: #272727; 
$dark-body: #efefef;

$light-border: #D8D8D8;

$light-link: #112f9c;

$nav-bg: #202020;
$nav-item: #494949;

// CSS

.multiply {
    mix-blend-mode: multiply !important;
    // background-color: red;
}

html {
    scroll-behavior: smooth;
  }

:target {
    scroll-margin-top: 100px; // adds a margin to the top of the element that the anchor links to, effectively offsetting the scroll position.
  }
  

.container, .container-ns {
    max-width: $container;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

body {
    font-family: Inter, system-ui, sans-serif;;
    font-size: 18px;
    color: $light-body;
    background-color: $light-bg;
    line-height: 130%;
}

.btn {
    display: inline-flex;
    color: white;
    fill: white;
    font-weight: 600;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    justify-content: flex-end;
    padding: .3rem 1rem .3rem .75rem;
    background-color: #313131;
    border-radius: 100px;  
    transition: background-color .15s ease-in;    
    
    svg {
        width: 26px;
    }
}

.btn.twitter {
    background-color: #1D9BF0;
}

.btn:hover {
    background-color: #001a33;
}

nav {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0); // mobile
    // right: 20px;

    z-index: 99;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;


    .logo {
        width: 70px;
        height: 70px;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 4px;
        cursor: pointer;

        background: $nav-bg;
        border-radius: 100px;

        a { 
            color: #E4E4E4;
            text-decoration: none;
            padding: 10px 20px 12px;
            border-radius: 1000px;
        }
        
        a:hover {
            color: #fff;
        }
        .active {
            color: #fff;
            background: $nav-item;
            // margin: 0 -6px;
        }
    }
}

.hero-title {
    font-size: 42px; // mobile 52
    font-weight: 900;
    line-height: 110%;
}

.rainbow-text {
    background-image: linear-gradient(90deg, #C62B2B 0%, #E8853D 17.19%, #F5C417 35.42%, #81D130 58.33%, #63BEE5 77.6%, #9722F2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.pill {
    padding: 9px 20px 10px;
    border-radius: 30px;
    color: #0028F9;
    font-weight: 700;
    display: inline-block;

    border: 3px solid transparent;

    background-image: linear-gradient(white, white), 
                      linear-gradient(86.51deg, #C62B2B 0%, #E8853D 17.19%, #F5C417 35.42%, #81D130 58.33%, #63BEE5 77.6%, #9722F2 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.card {
    // display: flex;
    // flex-direction: column;
    padding: 32px 32px 40px;

    text-decoration: none;
    background: $light-bg;
    color: $light-body;
    /* Stroke */
    
    border: 1px solid $light-border;

    transition-duration: .5s;
}

.card:hover {
    box-shadow: 0px 54px 96px rgba(0, 0, 0, 0.25), 0px 19.7109px 22.9466px rgba(0, 0, 0, 0.141384), 0px 9.56927px 8.51093px rgba(0, 0, 0, 0.0831012), 0px 4.69103px 2.41262px rgba(0, 0, 0, 0.0432452), 0px 1.85484px 0.136171px rgba(0, 0, 0, 0.0162015);
}

.button {
    color: #fff;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    width: 120px;
    height: 120px;

    /* Main Text */

    background: $light-link;
    border-radius: 100px;
    transform: rotate(-5deg);
    transition-duration: .3s;
}

.button:hover {
    background: #1C1C1C;
    transform: rotate(5deg);
}

.strikethrough {
    text-decoration-line: line-through;
    text-decoration-color: rgba(255, 0, 0, 0.5);
    text-decoration-style: solid;
    text-decoration-thickness: 1.5px;
}

.body-text {
    color: $light-body;
}

p {
    line-height: 130%;
}
  
a {
    color: $light-link;
}


.bg-faint {
    background-color: $light-faint;
}


hr {
    max-width: $container;
    border: 1px solid $light-border;
    margin: 80px 0;
}

.main-link {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 3px solid #ABB8E6;
    
    display: flex;
    justify-content: space-between;
    padding: 0 1px 6px 1px;
    // flex flex-row justify-between 
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
}

article {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1em;
        margin-top: 3em;
    }
}

.quote, blockquote {
    font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    border-left: 5px solid gray;
    margin: 0;
    padding: 0px 20px;
    font-style: italic;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.sticky {
    position: sticky;
    top: 100px;
}

/* SMALL SCREEN */
@media (max-width: $media-small) {
    
    .container-ns {
      max-width: 100vw;
      padding-left: 0;
      padding-right: 0;
    }

    nav {
        left: 50%;
        transform: translate(-50%, 0);
        right: auto;
    }

    .hero-title {
        font-size: 38px;
    }
}
