---
layout: default
---
<!-- layout: default means that this layout INCLUDES everything in default.html 
AND adds the following code in the {{content}} area of default.html -->


<section class="container mt4-ns mb5">
    <div class="flex flex-column flex-row-ns pa4 br3 nl4-ns nr4-ns bg-faint ">
        <!-- <h1 class="w-40-ns mt0 f4 fw4">LGBT Myths</h1> -->
        <h1 class="w-40-ns mt0 f4 fw4">
            <img src="/assets/lgbtmyths-logo.svg" alt="" style="max-width: 160px;">
        </h1>
        <div class="">
            <div class="f4 mb4">Frequently asked questions about LGBT people.</div>
            <a href="{{site.data.general.feedback-form}}" target="_blank" class="main-link dim">
                <div>Send feedback</div> <div>→</div>
            </a>
        </div>
    </div>
</section>

<section class="container">
    {%- for faq in site.faq -%}
    <a href="{{faq.url}}" class="link body-text">
        <div id="{{faq.id | split: '--' | shift}}" class="grow flex-ns flex-row-ns justify-between mv4 ba b--black-10 pa4 br3 nl4-ns nr4-ns">
            <div class="w-40-ns pr5-ns pt3-ns">
                <div class="gray b ttu tracked f6">Question</div>
                <h2 class="f4 mt2">“{{faq.title}}”</h2>
            </div>
            
            <div class="w-60-ns">
                <div>
                    {{faq.short | markdownify }}
                </div>
                <div class="f3 tr">→</div>
            </div>
        </div>
    </a>
    {%- endfor -%}

    <a href="{{site.data.general.feedback-form}}" class="link">
        <div id="{{myth.id | split: '--' | shift}}" class="dim flex flex-row justify-between mv4 ba b--black-10 pa4 br3 nl4-ns nr4-ns">

            <div class="f4 b">Suggest a question</div>
            <div class="f3 tr">→</div>
            
        </div>
    </a>
</section>