---
layout: default
---
<section class="container mt6 mb5">
    <div class="flex flex-column items-center flex-row-ns justify-between-ns items-end-ns nl0 ml4-ns">
        <h1 class="hero-title tc tl-ns mb0-ns">
            Frequent 
            Questions<br><span class="fw5">about <span class="rainbow-text">LGBT</span> people</span>
        </h1>
    
        <div class="pill">
            LGBT<span class="underline">myths</span>.com
        </div>
    </div>
    {% include wip.html %}
</section>

<section class="container">
    {%- for faq in site.faq -%}
    <a href="{{faq.url}}" class="card flex flex-column flex-row-ns" id="{{faq.id | split: '--' | shift}}">
            <div class="mb2 w-40-ns">
                <div class="o-70 pb1-ns">Question</div>
                <h2 class="mt2 mt3-ns f5 strike">{{faq.title}}</h2>
            </div>
            
            <div class="w-60-ns pl4-ns">
                <div class="o-70 nb3 nb2-ns">Answer</div>
                <div class="f4">
                    {{faq.short | markdownify }}
                </div>
                <div class="o-60 tr">More →</div>
            </div>

    </a>
    {%- endfor -%}
</section>