---
layout: default
---
<section class="container-ns mt5-ns">
    
    <div class="pa3 pv4 pa5-ns br4-ns nl5-ns nr5-ns bg-faint">
        <div class="flex flex-row justify-between">
            <div class="dark-red b ttu tracked f6">{{page.type}}</div>
            <a href="{{site.data.general.feedback-form}}" class="ttu tracked f7 fw5 dn dib-ns">Suggest a change</a>
        </div>
        

        <h1 class="mt2 f5">{{page.title}}</h1>
        <div class="green b ttu tracked nb2 mt4 f6">Reality</div>
        <div class="measure f5">
            {{page.short | markdownify }}
        </div>

        <div class="flex-ns flex-row-ns justify-between mt4">
            <div class="ttu tracked o-50 pv2 f7 fw5">Tags: {{page.tags}}</div>
            <div class="ttu tracked pv2 f7 fw5 "><span class="o-50">Share on:</span> 
                <a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&text=❌ {{page.type}}: {{page.title}} ✅Reality: ">
                    Twitter</a>, 
                <a href="">
                    Facebook</a>
            </div>
            <a href="{{site.data.general.feedback-form}}" class="ttu tracked f7 pv2 fw5 dn-ns dib">Suggest a change</a>
        </div>
    </div>
    
</section>

<article class="container mt5">
    <div class="measure">
        {{ content }}
    </div>
</article>